<head>
<meta charset="utf-8">
  <title>Edit User</title>
  <link rel="stylesheet" type="text/css" href="edit_style.css">
</head>
<div class="edit-page">
  <div class="edit-box">
    <h2>Update <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)" %>
        <i>Leave box blank if password change is not desired</i><br />
        <% if @minimum_password_length %>
          <br />
     
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password" %>
        <i>Enter your current password to confirm your changes</i><br />
      </div>

      <% if current_user.admin? %>
        <div>
        <%= f.label :role%>
        <%= f.select :role, options_for_select([['Choose...', nil], ['User',1], ['Moderator',2], ['Admin',3]]), class: 'form-select'%>
        </div>
      <% end %>

  <div class="actions">
    <%= f.submit "Update", data: {turbo: false} %>
  </div>
  <% end %>

  <h3>Delete account</h3>

  <div>
    <%= button_to "Cancel my account", registration_path(resource_name), 
    data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  </div>

<%= link_to 'Back', 'javascript:history.go(-1);' %>

