<div class="container-fluid edit-page bg-page">
 <div class="row justify-content-center">
  <div class="edit-box">
    <h2 class="text-center mb-4 mt-4 color">Update <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group-email mb-4 mt-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group-password mb-4 mt-4">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)", class: "form-control" %>
        <small class="form-text text-muted">Leave this field blank if you do not wish to change your password.</small><br />
        <% if @minimum_password_length %>
          <small class="form-text text-muted">Minimum password length: <%= @minimum_password_length %> characters.</small><br />
        <% end %>
      </div>

      <div class="form-group-password mb-4 mt-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "form-control" %>
      </div>

      <div class="form-group-password mb-4 mt-4">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control" %>
        <small class="form-text text-muted">Enter your current password to confirm your changes.</small><br />
      </div>

      <% if current_user.admin? %>
        <div class="form-group-password mb-4 mt-4 ">
          <%= f.label :role, "Role:", class: 'form-label' %>
          <%= f.select :role, options_for_select([['Choose...', nil], ['User', 'user'], ['Moderator', 'moderator'], ['Admin', 'admin']]), { include_blank: true }, { class: 'form-select' } %>
        </div>
      <div class="form-group mb-4">
        <%= f.label :department %>
        <%= f.select :department, options_for_select([['Choose...', nil], ['ICT','ICT'], ['Registrar','Registrar'], ['SciTech','SciTech'], ['Dentistry','Dentistry']]), { include_blank: true }, class: 'form-select' %>
      </div>
      <div class="form-group mb-4">
        <%= f.label :fileSizelimit, "File Size Limit:", class: 'form-label' %>
        <%= f.select :fileSizelimit, options_for_select([['Choose...', nil], ['2mb', '2'], ['5mb','5'], ['10mb', '10']]), { include_blank: true }, { class: 'form-select' } %>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Update", data: {turbo: false}, class: "btn btn-light login " %>
        <% end %>
        <%= link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-light" %>
      </div>
    <br>
    <div class="form-group ">
    <h5 class="text-left mb-4 mt-4 color">Delete account</h5>    
      <%= button_to "Delete", registration_path(resource_name), 
      data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-red mb-4 mt-4" %>
    </div>

    
   </div>
  </div>
 </div>
