<div class="containerOne">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="text-center mb-4 color">Edit Folder</h1>

      <%= form_with(model: @folder, local: true) do |form| %>
        <% if @folder.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>
            <ul>
              <% @folder.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group mb-4">
          <%= form.label :Rename, class: "form-label" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Folder Name" %>
        </div>
        <% if current_user %>
        <div class="form-group mb-4">
          <%= form.label :department %>
          <%= form.select :department, options_for_select([['Choose...', nil], ['ICT','ICT'], ['Registrar','Registrar'], ['SciTech','SciTech'], ['Dentistry','Dentistry']]), class: 'form-control' %>
        </div>
        <% end %>

        <%= render "folders/form", form: form %>


        <div class="form-group ">
          <%= form.submit 'Edit Folder', data: {turbo: false}, class: "btn btn-button" %>
          <%= link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
