<h1>Edit Folder</h1>

<% if @folder.parent_folder_id.present? %>
  <p>Parent folder: <%= @folder.parent_folder.name %></p>
<% end %>

<%= form_with(model: @folder, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= render "folders/form", form: form %>

  <div class="actions">
    <%= form.submit 'Create' %>
  </div>
<% end %>

<% if @folder.parent_folder_id.present? %>
  <%= link_to 'Back', @folder.parent_folder %>
<% else %>
  <%= link_to 'Back', folders_path %>
<% end %>
