<div class="container">
  <h1>Edit Folder</h1>

  <% if @folder.parent_folder_id.present? %>
    <p>Parent folder: <%= @folder.parent_folder.name %></p>
  <% end %>

  <%= form_with(model: @folder, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= render "folders/form", form: f %>

    <div class="form-group">
      <%= f.submit 'Update', data: {turbo: false}, class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-secondary" %>
</div>
