<div class="container-fluid bg-page login-page">
  <div class="form-box">
    <h1 class= "text-center color mb-4" >CEU ARCH</h1>
    <form>
      <div class="logo-contain">
        <%= image_tag 'logo.png', style: 'height: 150px; width: 330px; vertical-align: top; margin-left: 70px;' %>
      </div>
      
        <% if current_user %>
            <% if current_user.department.present? %>
              <%= current_user.fileSizelimit %>
            <% end %>

            <% if current_user.admin? %>
            <div>
              <%= link_to "All Users",  admin_users_path, class: "btn btn-light homie4" %>
              <%= link_to 'All Departments', departments_path, class: "btn btn-light homie"  %>
            <% end %>  

                      
            <%= link_to 'View Folders', user_folders_path(@user), class: "btn btn-light homie2" %> 
            <%= link_to 'Log out', destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-light homie"  %>
          </div>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Create Account", new_user_registration_path %>
        <% end %>
    </form>
  </div>
</div>