<div class="container-fluid">
  <div class="form-box">
    <h1 id="title">CEU ARCH</h1>
    <form>
      <div class="logo-contain">
        <%= image_tag 'logo.png', style: 'height: 150px; width: 330px; vertical-align: top;' %>
      </div>
      <div class="btn-field">
        <% if current_user %>
            <% if current_user.admin? %>
              <%= User.count %>
              <%= link_to "All Users",  admin_users_path %>
            <% end %>            
            <%= link_to 'View Folders', user_folders_path(@user) %>  
            <%= link_to 'Logout', destroy_user_session_path, 'data-turbo-method': :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
          <%= link_to "Create Account", new_user_registration_path %>
        <% end %>
      </div>
    </form>
  </div>
</div>