<% if current_user %>
  <table class="table">
    <thead>
      <tr>
        <div class="tables-1">
          <th> Welcome: <%= current_user.full_name %> </th>
          <th> <%= current_user.email %> </th>
          <th> Department: <%= current_user.department.name %></th>
        </div>
      <tr>
    </thead>
  </table>
  <% if @user.department_id.present? %>
    <div class="vertical-1">
      <%= link_to 'New Folder', new_user_folder_path(@user),data: {turbo_frame: "modal" }, type: "button", class: "btn btn-button moving" %>
        <% if current_user.admin? %>
        <%else%>
          <%= link_to 'Shared Folders', user_shared_path(@user), type: "button", class: "btn btn-button moving" %>
        <% end %>
      <%= link_to 'Back', 'javascript:history.go(-1);', type: "button", class: "btn btn-button moving" %>
    </div>
  <% end %>   
   <table class="customTable2">
    <tbody>
      <tr>
        <td>
          <div class="card-deck">
            <ul data-controller="sortable" class="folder-list"> 
              
            </ul>
          </div> 
        </td> 
      </tr>
    </tbody> 
  </table>
<table class="customTable4">

<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<% Department.all.each do |department| %>
  <table class="table dark-striped">
    <thead>
      <tr>
        <th><%= department.name %></th>
        <table class="customTable2">
    <tbody>
      <tr>
        <td>
          <div class="card-deck">
            <ul data-controller="sortable" class="folder-list">
        <% @folders.each do |folder| %>
          <% if folder.department == department %>            
                <li class="folder-item"> 
                  <a href="<%= folder_path(folder) %>" class="card folder-link">        
                    <div class="card-body">
                      <%= image_tag("folder.jpg", width: '90', height: '200') %>
                    </div>
                    <div class="folderMove">
                      <%= folder.name.truncate(11)%>
                    </div>
                  </a>
                </li>
          <% end %>
        <% end %>
            </ul>
          </div> 
        </td> 
      </tr>
    </tbody> 
  </table>
      </tr>
    </thead>
  </table>  
<% end %>