<h1>Folders</h1>

<%= form_tag(search_folders_path, method: "get") do %>
  <%= text_field_tag :q, params[:q], placeholder: "Search folders..." %>
  <%= submit_tag "Search" %>
<% end %>

<% if @folders.present? %>
  <h2>Search Results:</h2>
  <% @folders.each do |folder| %>
    <p><%= link_to folder.name, folder_path(folder) %></p>
  <% end %>
<% else %>
  <p>No results found.</p>
<% end %>

<%= link_to 'New Folder', new_folder_path %>