<style>
  /* Card styles */
  .card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 45%; /* Set a width for each card to fit two cards in a row */
    display: inline-block; /* Display cards in inline-block mode */
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px; /* Add some margin between cards */
    vertical-align: top; /* Align cards to the top of the row */
  }

  .card-body {
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  /* Folder link styles */
  .folder-link {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  .folder-link:hover {
    color: #ff6b6b;
  }
</style>

<h1>Folders</h1>

<%= form_tag(search_folders_path, method: "get") do %>
  <%= text_field_tag :q, params[:q], placeholder: "Search Folder" %>
  <%= submit_tag "Search" %>
<% end %>

<<<<<<< HEAD
  <% if current_user %>
  <%= current_user.email%>
  <%= link_to 'New Folder', new_user_folder_path(user_id: current_user.id) %>    
  <ul>
    <% if @folders %>
      <ul data-controller="sortable">
=======
<% if current_user %>
  <% if @folders %>
    <div>
>>>>>>> 37279c9399d68d5330a07deef96eff7d16ad1681
      <% @folders.each do |folder| %>
        <a href="<%= folder_path(folder) %>" class="card folder-link">
          <div class="card-body">
            <h5 class="card-title">
              <%= folder.name %>
            </h5>
            <!-- Additional folder details or actions can be added here -->
          </div>
        </a>
      <% end %>
<<<<<<< HEAD
      </ul>
      <%= button_to 'Delete', destroy_user_session_path, data: { confirm: 'Are you sure?' }, method: :delete %>
    <% else %>
      <li>No folders found.</li>
    <% end %>
  </ul>
  <% else %>
    
    <%= link_to "Login", new_user_session_path %>
  <% end %> 


<%= render partial: 'sessions/new' %>

=======
    </div>
  <% else %>
    <p>No folders found.</p>
  <% end %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<%= link_to 'New Folder', new_user_folder_path(@user) %>
>>>>>>> 37279c9399d68d5330a07deef96eff7d16ad1681
