<h1>Folders</h1>

<%= form_tag(search_folders_path, method: "get") do %>
   <h4> Case sensitive </h4>
  <%= text_field_tag :q, params[:q], placeholder: "Search Folder" %>
  <%= submit_tag "Search" %>
<% end %>

  <% if current_user %>
  <%= current_user.email%>
  <%= link_to 'New Folder', new_user_folder_path(user_id: current_user.id) %>    
  <ul>
    <% if @folders %>
      <ul data-controller="sortable">
      <% @folders.each do |folder| %>
        <li><%= link_to folder.name, folder %></li>
      <% end %>
      </ul>
      <%= button_to 'Delete', destroy_user_session_path, data: { confirm: 'Are you sure?' }, method: :delete %>
    <% else %>
      <li>No folders found.</li>
    <% end %>
  </ul>
  <% else %>
    
    <%= link_to "Login", new_user_session_path %>
  <% end %> 


<%= render partial: 'sessions/new' %>
  