<h1>Folders</h1>

<%= form_tag(search_folders_path, method: "get") do %>
  <%= text_field_tag :q, params[:q], placeholder: "Search Folder" %>
  <%= submit_tag "Search" %>
<% end %>

<% if current_user %>
  <% if @folders %>
  
    <div class="card-deck">
    <ul data-controller="sortable">
      <% @folders.each do |folder| %>
      <li>
        <a href="<%= folder_path(folder) %>" class="card folder-link">
          <div class="card-body">
          
            <div class="folder-name">
              <%= folder.name %>
            </div>
            <!-- Additional folder details or actions can be added here -->
          </div>
        </a>
      </li>
      <% end %>
    </ul>
    </div>
  
  <%= link_to 'New Folder', new_user_folder_path(@user) %>
  <% else %>
    <p>No folders found.</p>
  <% end %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>


