<% if @results.empty? && @file_results.empty? %>
  <p>No results found for '<%= params[:q] %>'</p>
<% else %>

  <h1 class="text-center mb-4 color">Folders</h1>
  <div class="card-deck">
  <ul data-controller="sortable" class="folder-list">
    <% @results.each do |result| %>
      <% if result.department == current_user.department || result.user_id == current_user.id || current_user.admin?%>
        <li class="folder-item">
        <a href="<%= folder_path(result) %>" class="card folder-link">
          <div class="card-body">
              <%= image_tag("folder.jpg", width: '90', height: '100') %>
              <%= result.name.truncate(11) %>
          </div>
        </a>
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>

  <h1 class="text-center mb-4 color">Files</h1>
  <% @file_results.each do |file_attachment| %>
  <div style ="margin-left: 70px;">
    <%= render 'file_search_result', file: file_attachment, query: params[:q] %>
  </div>
  <% end %>
<% end %>

