  <table class="table">
    <thead>
      <tr>
        <div class="tables-1">
          <th> Welcome: <%= current_user.email %></th>
          <th> <%= current_user.full_name %></th>
          <th> Department: <%= current_user.department.name %></th>
        </div>
      <tr>
    </thead>
  </table>
  <% if @user.department_id.present? %>
    <div class="vertical-1">
      <%= link_to 'Back', 'javascript:history.go(-1);', type: "button", class: "btn btn-button moving" %>
    </div>
  <% end %>   
<h1 class="text-center color">Shared Folders</h1>
<table class="customTable4">
  <tbody>
    <tr>
      <td>
        <% if current_user != current_user.admin?%>
          <div class="card-deck">
            <ul data-controller="sortable" class="folder-list">
                <% @share.each do |shared| %>
                  <% if shared.department == current_user.department%>
                    <% if shared.user_id != current_user.id %>
                    <li class="folder-item">
                      <a href="<%= folder_path(shared) %>" class="card folder-link">
                        <div class="card-body">
                          <%= image_tag("folder.jpg", width: '90', height: '200') %>
                        </div>
                        <div class="folderMove">
                          <%= shared.name.truncate(11) %>
                        </div>
                      </a>
                    </li>                     
                    <% end %>
                  <% end %>
                <% end %>
            </ul>
          </div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
