<% if current_user %>
  <% if @folder.parent_id.present? %>
    <% @id_arr.reverse().each do |array|%>
      <%= link_to array.name, folder_path(array.id), class: "font-bread" %> ➤
    <% end %>

  <% else %>
    <%= @folder.name %>
  <% end %>

  <ul data-controller="sortable" class="list-group">
    <% @subfolders.sort_by(&:name).each do |subfolder| %>
     <li class="list-group-item"> 📁 <%= link_to subfolder.name, subfolder, class: "link-dark " %></li>
    <% end %>
  </ul>

    <table class='table table-dark table-striped'>
      <thead>
        <tr>
          <th>File name</th>
          <th>File Type</th>
          <th>Date Created 
            <%= link_to '▲', { sort: 'asc' }, style: 'color: white;'  %>
            <%= link_to '▼', { sort: 'desc' }, style: 'color: white;' %>
          </th>
          <th>Action</th>        
      </tr>
      </thead>
    <tbody>
     <% if @folder.files.attached? %>
      <% @folderFiles.each do |attachment| %>
        <tr>
          <td><%= link_to attachment.filename, file_path(attachment) %></td>
          <td><%= attachment.content_type.split("/").last %></td>
          <td><%= attachment.created_at.strftime("%B %d, %Y") %></td>
          <td><%= button_to "Delete", purge_attachment_path(attachment), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

    <%= form_for @folder, html: { multipart: true } do |r| %>
      <%= render "folders/form", form: r %>
        <div class="actions">
          <%= r.submit 'Upload', class: "btn btn-light ", data: { turbo: false } %>
        </div>
    <% end %>

<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>

<div class="vertical-back">
  <%= link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-light " %>
  </div>
<div class="vertical-edit">
  <%= link_to 'Edit folder', edit_folder_path(@folder), type: "button", class: "btn btn-light " %> 
</div>
<div class="vertical-delete">
  <%= button_to 'Delete folder', folder_path(@folder), method: :delete, class: "btn btn-red ", data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' } %> 
</div>
<div class="vertical-add">
  <%= link_to 'Add folder', new_folder_path(parent_folder_id: @folder.id), class: "btn btn-light " %> 
</div>