<h1><%= @folder.name %></h1>

<% if @subfolders.any? %>
  <h2>Subfolders</h2>
  <ul>
    <% @subfolders.each do |subfolder| %>
      <li><%= link_to subfolder.name, subfolder %></li>
    <% end %>
  </ul>
<% end %>

<% if @folder.files.attached? %>
  <h2>Files</h2>
  <ul>
    <% @folder.files.each do |file| %>
      <li><%= link_to file.filename, rails_blob_path(file, disposition: "attachment") %></li>
      <%= button_to "Delete", folder_file_folder_path(file.id), data: { turbo_confirm: "Are you sure you want to delete this file?" }, method: :delete %>

    <% end %>
  </ul>
<% end %>

<%= link_to 'Add files', edit_folder_path(@folder) %> |
<%= button_to 'Delete', folder_path(@folder), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Subfolder', new_folder_path(parent_folder_id: @folder.id) %>
</br>
</br>
<%= link_to 'back', :back%>
