<h1><%= @folder.name %></h1>

<%= form_tag(search_folders_path, method: "get") do %>
   <h4> Case sensitive </h4>
  <%= text_field_tag :q, params[:q], placeholder: "Search Folders" %>
  <%= submit_tag "Search" %>
<% end %>

<% if @subfolders.any? %>
  <h2>Subfolders</h2>
  <ul>
    <% @subfolders.each do |subfolder| %>
      <li><%= link_to subfolder.name, subfolder %></li>
    <% end %>
  </ul>
<% end %>

<% if @folder.files.attached? %>
  <h2>Files</h2>
  <ul>
  <% @folder.files.each do |attachment| %>
    <li>
      <%= link_to attachment.filename, rails_blob_path(attachment, disposition: "attachment") %>
      <%= button_to "delete", purge_attachment_path(attachment), method: :delete %>
    </li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Add files', edit_folder_path(@folder) %> |
<%= button_to 'Delete', folder_path(@folder), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Subfolder', new_folder_path(parent_folder_id: @folder.id) %>
</br>
</br>

<%= link_to "Back", :back %>
