<% if current_user || current_user.admin? %>
  <%= link_to @first_parent_id.name, folder_path(@first_parent_id), class: "font-bread"%>➤
  <% if @folder.parent_id.present? %>
    <% @id_arr.reverse().each do |array|%>
    
      <%= link_to array.name, folder_path(array.id), class: "font-bread" %> ➤
    <% end %>
  <% end %>

  <ul data-controller="sortable" class="list-group">
    <% @subfolders.sort_by(&:name).each do |subfolder| %>
     <li class="list-group-item"> 📁 <%= link_to subfolder.name, subfolder, class: "link-dark " %></li>
    <% end %>
  </ul>
  <% if @folder.department.present? %>
    <h5>Department: <%= @folder.department.name%></h5>        
  <% end %>
    <table class='table table table-striped'>
      <thead>        
        <tr>
          <th>File name</th>
          <th>File Type</th>
          <th>Date Created 
            <%= link_to '▲', { sort: 'asc' }, style: 'color: white;'  %>
            <%= link_to '▼', { sort: 'desc' }, style: 'color: white;' %>
          </th>
          <th>Action &nbsp; &nbsp; &nbsp;<%= link_to '📥', edit_folder_path(@folder), type: "button", class: "btn btn-button " %></th>   
          <th>
            <div class="dropdown">
             <%= link_to image_tag("dropdown.png", width: 30, height: 30, alt: "Dropdown Menu"), "#", class: "dropbtn" %>
              <div class="dropdown-content">
               <div class="vertical-add">
                <%= link_to 'Add folder', new_folder_path(parent_folder_id: @folder.id), class: "btn btn-button " %> 
               </div>
               <div class="vertical-edit">
                <%= link_to 'Add files/Edit Folder', edit_folder_path(@folder), type: "button", class: "btn btn-button " %> 
                </div>
               <div class="vertical-delete">
                <%= button_to 'Delete folder', folder_path(@folder), method: :delete, class: "btn btn-button ", data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' } %> 
                </div>
                <div class="vertical-back">
                 <%= link_to 'Back', 'javascript:history.go(-1);', class: "btn btn-button" %>
                </div>
              </div>
            </div>
          </th>      
       </tr>
      </thead>
    <tbody>
     <% if @folder.files.attached? %>
      <% @folderFiles.each do |attachment| %>
        <tr>
          <td><%= link_to attachment.filename, file_path(attachment) %></td>
          <td><%= attachment.content_type.split("/").last %></td>              
          <td><%= attachment.created_at.strftime("%B %d, %Y") %></td>
          <td><%= button_to "Delete", purge_attachment_path(attachment), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' } %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

    <%= form_for @folder, html: { multipart: true } do |r| %>
      <%= render "folders/form", form: r %>
        <div class="actions show-page">
          <%= r.submit 'Upload', class: "btn btn-red", data: { turbo: false } %>
        </div>
    <% end %>

<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>