<div class="containerOne">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <h1 class="text-center mb-4 color">New Department</h1>



<%= form_with(model: @department, local: true) do |form| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
        <% @department.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.label :name, class: "form-label"%>
    <%= form.text_field :name, class: 'form-control', placeholder: "Department Name"  %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Department', data: {turbo: false}, class: "btn btn-button" %>
    <%= link_to 'Back', departments_path, class: 'btn btn-button' %>
  </div>
<% end %>


