<div class="container-fluid edit-page bg-page">
 <div class="row justify-content-center">
  <div class="edit-box">
    <h2 class="text-center mb-4 mt-4 color">Edit User</h2>

    <%= form_for [:admin, @user] do |f| %>
      <div class="form-group-email mb-4 mt-4 ">
        <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
      </div>

      <% if current_user.admin? %>
        <div class="form-group-password mb-4 mt-4 ">
          <%= f.label :role, "Role:", class: 'form-label' %>
          <%= f.select :role, options_for_select([['Choose...', nil], ['User', 'user'], ['Moderator', 'moderator'], ['Admin', 'admin']]), { include_blank: true }, { class: 'form-select' } %>
        </div>
      <div class="form-group mb-4">
        <%= f.label :department, "Department:", class: 'form-label' %>
        <%= f.select :department, options_for_select([['Choose...', nil], ['ICT','ICT'], ['Registrar','Registrar'], ['SciTech','SciTech'], ['Dentistry','Dentistry']]), { include_blank: true }, class: 'form-control' %>
      </div>   
      <div class="form-group mb-4">
        <%= f.label :fileSizelimit, "File Size Limit:", class: 'form-label' %>
        <%= f.select :fileSizelimit, options_for_select([['Choose...', nil], ['2mb', '2'], ['5mb','5'], ['10mb', '10']]), { include_blank: true }, { class: 'form-select' } %>
      </div>
      <% end %>

      <div class="form-group-password mb-4 mt-4">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>

      <div class="form-group-password mb-4 mt-4">
        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.submit 'Update User', class: 'btn btn-light move', data: { turbo: false } %>
          <% end %>
           <%= link_to 'Back', root_path, class: "btn btn-light move" %>
          
      </div>
       <%= button_to 'Delete User', delete_user_admin_user_path(@user), class: "btn btn-red", method: :delete, data: { turbo: false }, data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' } %>
  </div>
 </div>
</div>
